@font-face {
    font-family: 'ReignBeats';
    src: url('./fonts/Reign\ Beats.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    color: #111;
    font-family: 'ReignBeats', sans-serif;
    font-size: large;
    background-color: #7B284B;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    overflow: hidden;
}

.hero h1 {
    font-size: 12rem;
    position: relative;
    z-index: 1;
    text-align: center;
}

.hero img {
    position: absolute;
    width: 300px;          
    z-index: 2;           
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

a {
  color: #111;
  text-decoration: none;
}

a:visited {
  color: #111;
}

a:hover {
  color: #E63946;
}

.nav {
  position: sticky;
  top: 0;
}

.nav-inner {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.blog-nav {
max-width: 1100px;
  margin: auto;
  padding: 60px 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 20px;
}

.card img {
  width: 100%;
  display: block;
}

.about-inner {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  gap: 40px;
  padding: 60px 20px;
}
.about-inner p{
    text-indent: 20px;
}

.recent-inner {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 60px 20px;
}

.footer {
  text-align: center;
  padding: 40px;  
}
