body {
  margin: 0;
  color: #111;
    font-family: "Tinos", serif;
}

* {
  font-family: "Tinos", serif;
}

a {
  color: #111;
  text-decoration: none;
}

a:visited {
  color: #111;
}

a:hover {
  color: #E63946;
}

.nav {
  position: sticky;
  top: 0;
  background: #E3ECF2;
  border-bottom: 1px solid #eee;
}

.nav-inner {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 64px;
  margin: 0;
}

.work {
    background: #EAE9ED;
max-width: 1100px;
  margin: auto;
  padding: 60px 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 20px;
}

.card img {
  width: 100%;
  display: block;
}

.about{
    background: #EAE9ED;
}
.about-inner {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 60px 20px;
}

.clients {
  text-align: center;
  padding: 60px 20px;
}

.footer {
  text-align: center;
  padding: 40px;
  border-top: 1px solid #eee;
    background: #D1DEF0;
  
}
