body {
  margin: 0;
  color: #111;
  font-family: "Lato", sans-serif;
  font-size: large;
    background: #D1DEF0;
}
h1, h2, h3, h4, h5, h6 {
font-size: xx-large;
  font-family: "Tinos", serif;
}
h1:hover{
    color: #E63946;
}
* {
  font-family: "Tinos", serif;
}

a {
  color: #111;
  text-decoration: none;
}

a:visited {
  color: #111;
}

a:hover {
  color: #E63946;
}

.nav {
  position: sticky;
  top: 0;
}

.nav-inner {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 64px;
  margin: 0;
}

.blog-nav {
max-width: 1100px;
  margin: auto;
  padding: 60px 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 20px;
}

.card img {
  width: 100%;
  display: block;
}

.about-inner {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  gap: 40px;
  padding: 60px 20px;
}
.about-inner p{
    text-indent: 20px;
}

.recent-inner {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 60px 20px;
}

.footer {
  text-align: center;
  padding: 40px;  
}
